*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    height: 200px;
    margin: 50px auto;
    background-color: orange;
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social ul li{
    display: inline;
    margin: 0 10px;
}

.social ul li a{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: azure;
    position: relative;
    border: 1px solid black;
}

.social ul li a i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}