*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    margin: 50px auto;
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.social ul li{
    display: inline;
    margin: 0 10px;
}


.social ul li a{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: whitesmoke;
    position: relative;
    border: #fff;
}

.social ul li a i:nth-child(1){
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: blue;
    
}

.social ul li a i:nth-child(2){
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aqua;
    
}

.social ul li a i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

